[submodule "EmuBase/dependencies/glad"]
	path = EmuBase/dependencies/glad
	url = git@github.com:amayesingnathan/glad.git
[submodule "EmuBase/dependencies/glfw"]
	path = EmuBase/dependencies/glfw
	url = git@github.com:amayesingnathan/glfw.git
